body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px;
    font-family: "Poppins", serif;
  }
  
  
  main {
    
    display: flex;
    flex-direction: column;
  }
 

  
 
 
  .container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #D76C82;
    border: none;
  }
  /* Fixed position */
  .fixed {
    position: fixed;
    z-index: 1;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 300px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    font-size: x-large;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color:white;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border: none;
    background-color: #D76C82;
    color: white;
    padding: 20px;
  }
  
 
  footer input[type="email"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: none;
    border-radius: 5px;
  }
  footer button {
    width: fit-content;
    padding: 10px;
    font-size: 16px;
    background-color: #663232;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  footer {
    background-color:#D76C82;
    text-align: center;
    padding: 10px;
    width: 100%;
}

  
  .shopping-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10%;
    margin: 50px 0;
  }
  .total-price span {
    font-size: 30px;
  }
  
  .total {
    font-weight: bold;
  }
  .list-products {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 70%;
  }
  .card {
    padding: 5%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .quantity {
    font-size: 25px;
  }
  
  .card-body div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  
  .fa-trash-alt {
    color: #de6b5c;
    font-size: x-large;
  }
  .liked {
    color: red ;
    

  }