body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 5px;
    font-family: "Poppins", serif;
  }
  
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .p{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;

    line-height: 50px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #d76c82;
    color: white;
    width: 100%;
    border: none;
  }
  p{
    font-size: large;

  }
  .container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #D76C82;
    border: none;
  }
  /* Fixed position */
  .fixed {
    position: fixed;
    z-index: 1;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 300px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    font-size: x-large;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color:white;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border: none;
    background-color: #D76C82;
    color: white;
    padding: 20px;
  }
  
  footer {
    text-align: center;
    padding: 5px;
    background-color:#D76C82;
    margin-top: 5px;
    font-size: 0.9rem;
    width: 100%;
    border: none;
  }
  
  footer input[type="email"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: none;
    border-radius: 5px;
  }
  footer button {
    width: fit-content;
    padding: 10px;
    font-size: 16px;
    background-color: #663232;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    background-color: #7d1c1c;
  }
  